body{
    background-color: aliceblue;
   
   
    
}
.backgroud{
    height: 550px;
    width: 100%;
    background-image: linear-gradient(180deg, #05285f 0%, #0c66af 100%);
    background-repeat: no-repeat;
   

}
#img1{
    height: 90%;
    width: 60%;
    margin-top: 1%;
}
.font-color{
    color: white;
}
.i{
    
    width: 90px;
}
.row-2{
    border-radius: 10px;
    background-color: white;
    width: 80%;
    margin-left: 8%;
    z-index: 1;
    position: relative;
    margin-bottom: -4%;
   
    
    
}
.row-3{
    background-color: white;
    border: 2px solid greenyellow;
    height: 50%;
    width: 100%;
   z-index: 2;
}

.col-3{
    width: 100%;
    margin-top: 5%;
    text-align: start;
    margin-left: 1% ;
    
}
.line{
    float: right;
    padding-right: 1%;
}
.p{
    font-size: 10px;
}

.trip-border{
    border: 1px solid  black;
    height: 70%;
    
    
}
#basic-addon2{
    color: rgb(9, 94, 206);
}
.sback{
  background-color: rgb(240, 192, 131);
}
.row-4{
    margin-left: 1%;
}
.text-bold{
    font-size: 30px;
    font-weight: 600;
}

.sbtn{
    z-index: 1;
    width: 15%;
    position: relative;
    margin-top: -1%;
    border-radius: 30px;
}

.row-6{
    display: flex;
    text-align: center;
    justify-content: center;
    
    height: 100px;
    width: 100%;
}

.row-7{
    border: 1px solid yellow;
}

.img7{
    height: 40%;
    width: 70%;
}

.container-s{
    height: 100px;
    width: 500px;
}

.row-8{
    margin-top: 1%;
    padding-top: 1%;
    padding-left: 1%;
    background-color: antiquewhite;
}
.row-8-h{
    font-size: 300%;
    font-weight: 600;
}

.row-9{
    height: 10%;
    width: 100%;
    background-color: white;
}

.row-9-i{
    height: 100px;
    width: 5%;
}
.row-9-w{
    width: 90%;
}

.row-9-g{
    width: 20%;
}
.new-font{
    font-size: 12px;
}
.footback{
    background-color: rgb(204, 202, 202);
}
.containers{
    border: 1px  solid red;
    
}